*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
}
body{
  background-image:url(../img/Simple\ \ Web\ Error\ Interface.jpg);
}
header{
  height: 90px;
  background: #639557;
}

.inner-width{
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.logo{
  float: left;
  padding: 10px 0;
  margin-right: 50px;
}

.logo img{
  height: 100px;
}

.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
  text-decoration: none;
}

.navigation-menu a:hover{
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
}

.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.home{
  color: #13B999;
}

.about{
  color: #13B999;
}

.works{
  color: #13B999;
}

.team{
  color: #13B999;
}

.contact{
  color: #13B999;
}

.menu-toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}

.contenido{
  margin-top: 150px;
  align-items: center;
  margin-right: 400px;
  margin-left: 400px;
}
.carousel-item img{
  border-radius: 15px 15px;
}
.bienvenida{
  text-align: center;
  font-size: 6vh;
  color: #706d6e;
}
.bienvenida b{
  color: #13B999;
}
.protocolo{
  background-color: #f2f3f5;
  color: #706d6e;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 10vh;
  font-size: 20px;
}
.imagen h2{
  margin-top: 50px;
  font-size: 50px;
  color: #706d6e;
}
.imagen img{
    width: 1080px;
    height: 800px;
    margin-top: 50px;
}
footer{
  position:relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #639557;
  height: auto;
  width: 100%;
  padding-top: 20px;
  color: #fff;
  margin-top: 50px;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 400px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
  transition: linear 0.2s;
}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: #13B999;
}
.footer-bottom{
  background: #6C8E64;
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-menu{
  float: right;
}

.footer-menu ul{
  display: flex;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
  transition: linear 0.2;
}

.footer-menu ul li a:hover{
  color: #13B999;
}
@media screen and (max-width:700px) {
  .menu-toggle-btn{
    display: block !important;
    
  }
  .imagen img{
    width: 530px;
    height: 550px;
  }
  .protocolo{
    max-width: 75vh;
    max-height: 25vh;
  }
  .contenido{
   margin-left: 5px;
   margin-right: 5px;
  }
  .navigation-menu{
    position: absolute;
    width: 100%;
    max-width: 400px;
    background: #768772;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #768772;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  .navigation-menu a{
    display: block;
    margin: 10px 0;
  }

  .navigation-menu.active{
    display: block;
  }
}
@media (max-width:700px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  }
